<h3>
  Create order</h3>
<form #createOrderForm="ngForm" (submit)="createOrder($event, createOrderForm)">
  <div class="form-group col-md-6">
    <label for="assetName">Owner</label>
    <select class="form-control" [(ngModel)]="newOrder.owner" name="owner" (change)="selectedOwner($event.target.value)">
      <option value="">Select Option...</option>
      <option *ngFor="let ownership of ownershipEvents" value="{{ownership.args.owner}}">{{ownership.args.owner}}</option>
    </select>
  </div>
  <div class="form-group col-md-6">
    <label for="assetName">Ownership ID</label>
    <select class="form-control" [(ngModel)]="newOrder.ownershipId" name="ownershipId" (change)="selectedOwnership($event.target.value)">
      <option value="">Select Option...</option>
      <option *ngFor="let ownership of ownersOwnershipEvents" value="{{ownership.id}}">{{ownership.id}}</option>
    </select>
  </div>
  <div class="form-group col-md-6">
    <label for="asset">AssetId</label>
    <input type="text" class="form-control" id="assetId" [(ngModel)]="newOrder.assetId" name="assetId" value="{{assetSelected}}"
      placeholder="Ex: Asset" readonly>
  </div>
  <div class="form-group col-md-6">
    <label for="assetName">Intent</label>
    <select class="form-control" [(ngModel)]="newOrder.intent" (change)="selectedIntent($event.target.value)" name="intent">
      <option value="">Select Option...</option>
      <option value="buy">Buy</option>
      <option value="sell">Sell</option>
    </select>
  </div>
  <div class="form-group col-md-6">
    <label for="owner">Broker</label>
    <select class="form-control" id="broker" name ="broker" [(ngModel)]="newOrder.broker" (change)="selectedBroker($event.target.value)">
      <option selected>Choose...</option>
      <option value="0x39eC92f54285dE4B6f444Ad9055e8Ab981Eb7e62">0x39eC92f54285dE4B6f444Ad9055e8Ab981Eb7e62</option>
      <option value="0x5772ea865cfa51eefa3c9e7fb6258a4f3e6585c5">0x5772ea865cfa51eefa3c9e7fb6258a4f3e6585c5</option>
      <option value="0xd84cd39e8d774a6dcdfcdf83eb9bef990753df98">0xd84cd39e8d774a6dcdfcdf83eb9bef990753df98</option>
    </select>
  </div>
  <div class="form-group col-md-6">
    <label for="owner">Claim</label>
    <input type="text" class="form-control" id="data" [(ngModel)]="newOrder.data" name="data" readonly>

  </div>
  <button type="submit" class="btn btn-primary">Sign and Create</button>
  <button type="button" class="btn btn-primary" (click)="getAllOrderEvents()">Events</button>
</form>