<h3>
  Create Ownership</h3>
<form #createOwnershipForm="ngForm" (submit)="createOwnership($event, createOwnershipForm)">
  <!-- #form="ngForm" (submit)="createAsset($event, form)" -->
  <div class="form-group col-md-6">
    <label for="assetName">Asset ID</label>
    <select class="form-control" [(ngModel)]="newOwnership.assetId" name="assetId">
      <option value="">Select Option...</option>
      <option *ngFor="let asset of newAssets" value="{{asset}}">{{asset}}</option>
    </select>
  </div>
  <div class="form-group col-md-6">
    <button type="button" class="btn btn-primary" (click)="getAssetDetails(newOwnership.assetId)">Import</button>
  </div>

  <div class="form-group col-md-6">
    <label for="assetContract">AssetContract Address</label>
    <input type="text" class="form-control" name="assetAddress" [(ngModel)]="newOwnership.assetAddress" readonly>
  </div>
  <div class="form-group col-md-6">
    <label for="assetName">Owner</label>
    <input type="text" class="form-control" name="owner" [(ngModel)]="newOwnership.owner" readonly>
  </div>
  <button type="submit" class="btn btn-primary">Add</button>
</form>