<div>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</div>
<div class="row">
  <div class="col-md-12">
    <h3>Orders</h3>
    <table frame="box" class="table table-sm">
      <tbody>
        <tr *ngFor="let order of orderEvents">
          <div class="container">
            <h5>Order ID: </h5>
            <p>{{order.args.orderId}}</p>
            <h5>Asset ID: </h5>
            <p>{{order.args.assetId}}</p>
            <h5>Owner: </h5>
            <p>{{order.args.owner}}</p>
            <h5>Intent: </h5>
            <p>{{order.args.intent}}</p>
            <h5>Broker: </h5>
            <p>{{order.args.broker}}</p>
            <h5>Claim: </h5>
            <p>{{order.args.data}}</p>
            <div class="row">
              <div class="col-md-1">
                <button class="btn btn-primary" (click)="verifyOrder(order)" data-toggle="modal" data-target="#orderVerification">Verify</button>
              </div>
              <div class="col-md-1">
                <img *ngIf="verified(order)" src="https://banner2.kisspng.com/20180315/xve/kisspng-check-mark-scalable-vector-graphics-computer-icons-green-tick-mark-5aab1c239076c9.6603115115211632995917.jpg">
              </div>
            </div>
          </div>
          <hr>
        </tr>
      </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="orderVerification" tabindex="-1" role="dialog" aria-labelledby="orderVerificationLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-center" id="orderVerificationLabel">Verification</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-center">
            <div *ngIf="assetVerified">
              <p>Asset Verified</p>
              <img src="https://banner2.kisspng.com/20180315/xve/kisspng-check-mark-scalable-vector-graphics-computer-icons-green-tick-mark-5aab1c239076c9.6603115115211632995917.jpg">
            </div>
            <div *ngIf="ownershipVerified">
              <p>Ownership Verified</p>
              <img src="https://banner2.kisspng.com/20180315/xve/kisspng-check-mark-scalable-vector-graphics-computer-icons-green-tick-mark-5aab1c239076c9.6603115115211632995917.jpg">
            </div>
            <div *ngIf="brokerVerified">
              <p>Broker Verified</p>
              <img src="https://banner2.kisspng.com/20180315/xve/kisspng-check-mark-scalable-vector-graphics-computer-icons-green-tick-mark-5aab1c239076c9.6603115115211632995917.jpg">
            </div>
            <div *ngIf="intentVerified">
              <p>Intent Verified</p>
              <img src="https://banner2.kisspng.com/20180315/xve/kisspng-check-mark-scalable-vector-graphics-computer-icons-green-tick-mark-5aab1c239076c9.6603115115211632995917.jpg">
            </div>
            <div *ngIf="matchVerified">
              <p>Match Verified</p>
              <img src="https://banner2.kisspng.com/20180315/xve/kisspng-check-mark-scalable-vector-graphics-computer-icons-green-tick-mark-5aab1c239076c9.6603115115211632995917.jpg">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>