<div>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</div>
<div class="row">
  <div class="col-md-12">
    <h3>Orders</h3>
    <table frame="box" class="table table-sm">
      <tbody>
        <tr *ngFor="let order of orderEvents">
          <div class="container">
            <h5>Order ID: </h5>
            <p>{{order.args.orderId}}</p>
            <h5>Asset ID: </h5>
            <p>{{order.args.assetId}}</p>
            <h5>Owner: </h5>
            <p>{{order.args.owner}}</p>
            <h5>Intent: </h5>
            <p>{{order.args.intent}}</p>
            <h5>Broker: </h5>
            <p>{{order.args.broker}}</p>
            <h5>Claim: </h5>
            <p>{{order.args.data}}</p>
            <div class="row">
              <div class="col-md-1">
                <button class="btn btn-primary" (click)="verifyOrder(order)">Verify</button>
              </div>
              <div class="col-md-1">
                <img *ngIf="verified(order)" src="https://banner2.kisspng.com/20180315/xve/kisspng-check-mark-scalable-vector-graphics-computer-icons-green-tick-mark-5aab1c239076c9.6603115115211632995917.jpg">
              </div>
            </div>
          </div>
          <hr>
        </tr>
      </tbody>
    </table>

    <!-- <table frame="box" class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Order ID</th>
          <th scope="col">Asset ID</th>
          <th scope="col">Owner</th>
          <th scope="col">Intent</th>
          <th scope="col">Broker</th>
          <th scope="col">Claim</th>
          <th scope="col">Option</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orderEvents">
          <td>{{order.args.orderId}}</td>
          <td>{{order.args.assetId}}</td>
          <td>{{order.args.owner}}</td>
          <td>{{order.args.intent}}</td>
          <td>{{order.args.broker}}</td>
          <td>{{order.args.data}}</td>
          <td><button class="btn btn-sm btn-primary" (click)="verifyOrder(order)">Verify</button></td>
        </tr>
      </tbody>
    </table> -->
  </div>