<div class="col-md-10">
  <button class="btn btn-primary" (click)="getAllAssets()">Refresh</button><br/><br/>
  <table frame="box" class="table table-hover">
    <thead>
      <tr>
        <th>Asset ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Owner</th>
        <th>Date of Ownership</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let asset of assetEvents">
        <td data-toggle="tooltip" data-placement="top" title={{asset.args.id}}>{{shortID(asset.args.id)}}</td>
        <td>{{asset.args.name}}</td>
        <td>{{asset.args.desc}}</td>
        <td data-toggle="tooltip" data-placement="top" title={{asset.args.owner}}>{{shortID(asset.args.owner)}}</td>
        <td>{{getDate(asset.args.time)}}</td>
      </tr>
    </tbody>
  </table>
</div>