<h3>
  Add Asset</h3>
<form #addAssetForm="ngForm" (submit)="createAsset($event, addAssetForm)">
  <!-- #form="ngForm" (submit)="createAsset($event, form)" -->
  <div class="form-group col-md-6">
    <label for="assetName">Asset Name</label>
    <input type="text" class="form-control" name="assetName" [(ngModel)]="newAsset.assetName" placeholder="Ex: XYZ Company">
  </div>
  <div class="form-group col-md-6">
    <label for="assetDescription">Asset Description</label>
    <!-- <input type="text" class="form-control" id="assetDescription" placeholder="Asset Description"> -->
    <textarea class="form-control" name="assetDescription" [(ngModel)]="newAsset.assetDescription" rows="4" item-width="450"
      placeholder="Area, Cost, Age etc.."></textarea>
  </div>
  <div class="form-group col-md-6">
      <label for="owner">Owner</label>
      <!-- For Demo purpose these are pre-defined owners -->
      <select class="form-control" name="owner" [(ngModel)]="newAsset.owner">
        <option selected>Choose...</option>
        <option value="0x39eC92f54285dE4B6f444Ad9055e8Ab981Eb7e61">0x39eC92f54285dE4B6f444Ad9055e8Ab981Eb7e61</option>
        <option value="0x5772ea865cfa51eefa3c9e7fb6258a4f3e6585c1">0x5772ea865cfa51eefa3c9e7fb6258a4f3e6585c1</option>
        <option value="0xd84cd39e8d774a6dcdfcdf83eb9bef990753df9b">0xd84cd39e8d774a6dcdfcdf83eb9bef990753df9b</option>
      </select>
    </div>
  <div class="form-group col-md-6">
    <label for="depositoryContract">Depository contract</label>
    <select class="form-control" [(ngModel)]="newAsset.depositoryContract" name="depositoryContract">
      <option *ngFor="let depository of depositoryContract" value="{{depository.address}}">{{depository.address}}</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Add</button>
</form>