<h3>
  Registry</h3>
<div>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</div>
<div class="row">
  <div class="col-md-6">
    <table frame="box" class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Asset ID</th>
          <th scope="col">Name</th>
          <th scope="col">Owner</th>
          <th scope="col">Broker</th>
          <th scope="col">Intent</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Land</td>
          <td>Investor1</td>
          <td>Broker1</td>
          <td>Sell</td>
          <td>$1000000</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Ship</td>
          <td>Investor2</td>
          <td>Broker2</td>
          <td>Sell</td>
          <td>$1000000</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Car</td>
          <td>Investor3</td>
          <td>Broker3</td>
          <td>Buy</td>
          <td>$1000000</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <table frame="box" class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Asset ID</th>
          <th scope="col">Name</th>
          <th scope="col">Old Owner</th>
          <th scope="col">New Owner</th>
          <th scope="col">Seller</th>
          <th scope="col">Buyer</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>Investor1</td>
          <td>Broker3</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>Investor2</td>
          <td>Broker3</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>